

/*
COLORS:
*/

$color-primary:#2c3acf;
$color-primary-light:#86a5fc;
$color-primary-dark: #27319b;
$color-highlight:#ff914d;
$color-white: #fff;
$color-gray: #434c88;
$color-gray-dark:#050c72;
$color-gray-light: #717591;
$color-blue: #a6b2c7;
$color-blue-light: #f1f6ff;

// GRID
$grid-width: 130rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;