.content {
    position: relative;
    margin-bottom: 25rem;
    background-color: $color-white;
    box-shadow: 1rem 0 1rem rgba(black,0.2);
    
    @include respond(phone) {
        margin-bottom: 32rem;
        overflow: hidden;
    }
}