.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        position: relative;

        @include respond(phone){
            width: 90% !important;
            margin: 0 auto;
        }
    }

    &__wrapper {
        height: 5rem;
        margin: 1rem 1.5rem;

        @include respond(phone) {margin: 1rem;}
    }

    &__img {
        transition: transform 1s ease-out;
        border: 2px solid $color-blue-light;
        height: 100%;
    }
    

}