.dropdown {
    position: relative;
    cursor: pointer;

    &__title {
        margin-right: 0.5rem;
    }
    
    &__toggle {
        position: relative;
        display: flex;
        align-items: center;

        &:hover .dropdown__toggle-icon {
            fill: $color-primary;
            transform: rotateX(180deg)      ;
            -webkit-transform: rotateX(180deg)      ;
            -moz-transform: rotateX(180deg)      ;
            -ms-transform: rotateX(180deg)      ;
            -o-transform: rotateX(180deg)      ;
        }
    }

    &__toggle-icon {
        transition: all 0.2s ease-in-out    ;
        -webkit-transition: all 0.2s ease-in-out    ;
        -moz-transition: all 0.2s ease-in-out    ;
        -ms-transition: all 0.2s ease-in-out    ;
        -o-transition: all 0.2s ease-in-out    ;
}

    &__icon {
        width: 1.5rem;
        margin-right: 1rem;
        display: inline-block;
    
        @include respond(tab-port){
            margin-bottom: -2px;
        }

        @include respond(phone){
            margin-bottom: 0;
        }

        &--active {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }

    &__list {
        visibility: hidden;
        opacity: 0;
        display: none;
        transform: none;
        position: absolute;
        top: 100%;
        left: -4rem;
        z-index: 9999;
        background: $color-white;
        padding: 1rem 2rem 1.5rem;
        box-shadow: 0.5rem 0.5rem 3rem rgba($color-gray,0.2);
        width: fit-content;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        transform: rotateX(-25deg) translateZ(0px);
        -webkit-transform: rotateX(-25deg) translateZ(0px);
        -moz-transform: rotateX(-25deg) translateZ(0px);
        -ms-transform: rotateX(-25deg) translateZ(0px);
        -o-transform: rotateX(-25deg) translateZ(0px);

        @include respond(tab-port){
            box-shadow: none;
            position: relative;
            left: 1rem;
        }

        &-last {
            left: auto;
            right: 0 !important;
        }

        &-visible {
            visibility: visible;
            opacity: 1;
            display: block;
            animation: show 0.3s ease-in-out        ;
            -webkit-animation: show 0.3s ease-in-out        ;
            transform-origin: top;
}
    }

    &__item {
        list-style: none;
        padding: 1rem 1.5rem 1rem 2.5rem;
        white-space: nowrap;
        position: relative;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;

        @include respond(tab-port){
            text-align: left;
            padding: 0.7rem 1.5rem 0.7rem 2.5rem;
        }

        &:hover .dropdown__link {
            color: $color-primary;
        }

        &:hover:before {
            content: "";
            position: absolute;
            left: 0.5rem;
            bottom:calc(50% - 0.4rem);
            background: $color-primary;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &__link {
        text-transform: unset;
        font-weight: 400;
        text-decoration: none;
        color: $color-gray-dark;

        &:first-letter {
            text-transform: uppercase;
        }
    }
}