.juggler {
    position: absolute;
    right: 20rem;
    bottom: 50%;
    z-index: 10;
    
    @include respond(tab-land) {right: 12rem;}

    &__item {
        position: absolute;
        animation: juggler infinite 2s linear;
        animation-fill-mode: forwards;
        transform-box: fill-box;
        -webkit-animation: juggler infinite 2s linear;
}

    &__img {
        width: 5rem;
        animation: spin infinite 5s linear;
        -webkit-animation: spin infinite 5s linear;

        @include respond(tab-port) {display: none}
}

    &-1,
    &__img-1 {
        left: 0;
        top: 0;
    }

    &-2,
    &__img-2 {
        left: 5rem;
        top: 2rem;
        animation-delay: 0.5s;
    }

    &-3,
    &__img-2 {
        left: 1rem;
        top: 4rem;
        animation-delay: 1s;
    }
}