.u-center-text { text-align: center !important; }

.u-short-text {width: 70vw !important;} 

.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-small { margin-top: 2rem !important; }
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-down { margin-bottom: -0.5rem !important; }

.u-grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.u-shadow {
    box-shadow: 0.5rem 3rem 6rem 0rem rgba($color-primary-dark,0.1);
}

.u-floatX {
    animation: floatX infinite 5s ease-in-out;
    -webkit-animation: floatX infinite 5s ease-in-out;
    animation-fill-mode: forwards;
}

.u-floatY,
.u-spinY {
    transform-box: fill-box;
    transform-origin: center;
    animation-fill-mode: forwards;
}

.u-floatY {
    animation: floatY infinite 5s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: floatY infinite 5s ease-in-out;
}

.u-spin {
    transform-origin: center;
    animation: spin-2 infinite 5s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: spin-2 infinite 5s ease-in-out;
}

.u-spinY {
    animation: spinY infinite 2s;
    -webkit-animation: spinY infinite 2s;
}

.u-delay {
    animation-delay: -2s;
}